.usersContainer {
  display: flex;
  flex-flow: row wrap;
}

.item {
  background-color: blue;
  color: #fff;
  padding: 1rem;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.item:last-child {
  margin-right: 0;
}
